{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset successful" %} - {% trans "CryptoRatt" %}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">{% trans "Password Reset" %}</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-success">
            <i class="fas fa-check-circle"></i>
            {% blocktrans %}We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.{% endblocktrans %}
          </div>
          <a href="{% url 'account:login' %}" class="btn btn-primary w-100">{% trans "Back to Login" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
